<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="Here is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-one-third">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                {{ form.test_value }}
                            </div>
                            {% for error in form.test_value.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form.test_anagram }}
                            </div>
                        </div>
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>  <!--Integrate social media platforms with allauth:
                        Go to the allauth providers section in the Django admin and
                        add the social accounts you want to support.
                        Add the relevant keys and secrets for each provider to your Django settings.
                        In your templates, add the following code to display the social login buttons: -->
                        {% if request.user.is_authenticated %}
                            Welcome, {{ request.user.username }}!
                        {% else %}
                            <a href="{% url 'social:begin' 'facebook' %}?next
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>